<?xml version="1.0" ?>
<robot name="test_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_robot_description)/urdf/test_robot.trans" />
<xacro:include filename="$(find test_robot_description)/urdf/test_robot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.017478616142263866 -0.0026167214840721615 0.07232033801694401" rpy="0 0 0"/>
    <mass value="1.7085553050360842"/>
    <inertia ixx="0.01599" iyy="0.013053" izz="0.025491" ixy="1e-06" iyz="0.0" ixz="-0.001461"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="2.1362899985111206e-07 -0.007315609570886977 -4.197731875744959e-06" rpy="0 0 0"/>
    <mass value="0.04524129578745742"/>
    <inertia ixx="2.1e-05" iyy="3.8e-05" izz="2.1e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.113229 0.188571 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque166158150"/>
  </visual>
  <collision>
    <origin xyz="0.113229 0.188571 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="-1.0235613107090202e-07 0.0073161666027419525 3.864337691943109e-06" rpy="0 0 0"/>
    <mass value="0.04524129578745742"/>
    <inertia ixx="2.1e-05" iyy="3.8e-05" izz="2.1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.113264 -0.183337 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque166158150"/>
  </visual>
  <collision>
    <origin xyz="0.113264 -0.183337 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_castor_1">
  <inertial>
    <origin xyz="-0.015000444363654358 -0.01999972148407214 -0.025454061421393268" rpy="0 0 0"/>
    <mass value="0.04403091329657134"/>
    <inertia ixx="1.1e-05" iyy="1.1e-05" izz="2e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.150554 -0.144783 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.150554 -0.144783 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_castor_1">
  <inertial>
    <origin xyz="-0.015000444363654053 0.02000027851592795 -0.02545406142139353" rpy="0 0 0"/>
    <mass value="0.04403091329657134"/>
    <inertia ixx="1.1e-05" iyy="1.1e-05" izz="2e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.150554 0.150017 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.150554 0.150017 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ydlidar_x4_1">
  <inertial>
    <origin xyz="0.008293655206743676 2.7851592755744406e-07 0.03420114222279125" rpy="0 0 0"/>
    <mass value="1.1515616542314233"/>
    <inertia ixx="0.000489" iyy="0.000861" izz="0.000987" ixy="-0.0" iyz="-0.0" ixz="0.000148"/>
  </inertial>
  <visual>
    <origin xyz="-0.003154 0.002617 -0.11668" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/ydlidar_x4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.003154 0.002617 -0.11668" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/ydlidar_x4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="servo_mount_1">
  <inertial>
    <origin xyz="0.02281000003141173 2.76966477701264e-07 -0.002692668094140295" rpy="0 0 0"/>
    <mass value="0.28990445760104805"/>
    <inertia ixx="5.9e-05" iyy="0.00017" izz="0.000152" ixy="0.0" iyz="-0.0" ixz="6e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.155554 0.002617 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/servo_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="acrylic_clear"/>
  </visual>
  <collision>
    <origin xyz="-0.155554 0.002617 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/servo_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_mount_1">
  <inertial>
    <origin xyz="0.009999555636422408 2.7851592789528146e-07 0.0029999999999999333" rpy="0 0 0"/>
    <mass value="0.012966923677691866"/>
    <inertia ixx="5e-06" iyy="5e-06" izz="1e-05" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.193704 0.002617 -0.08223" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="paek_beige"/>
  </visual>
  <collision>
    <origin xyz="-0.193704 0.002617 -0.08223" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_1">
  <inertial>
    <origin xyz="0.003869648083968641 2.7851593102558997e-07 0.022445900256365517" rpy="0 0 0"/>
    <mass value="0.6054290756769216"/>
    <inertia ixx="0.000158" iyy="0.000199" izz="0.000199" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.213704 0.002617 -0.08623" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.213704 0.002617 -0.08623" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="MPU_6050_1">
  <inertial>
    <origin xyz="-5.851215794284645e-05 -0.049957645733138184 0.0012967230186990211" rpy="0 0 0"/>
    <mass value="0.0012652929782472168"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003154 -0.149783 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/MPU_6050_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="plastic_glossy_blue"/>
  </visual>
  <collision>
    <origin xyz="-0.003154 -0.149783 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/MPU_6050_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ADXL335_1">
  <inertial>
    <origin xyz="4.56818678628481e-05 -0.025102579053233917 0.00043846778310281664" rpy="0 0 0"/>
    <mass value="0.000372404165087121"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003154 -0.149783 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/ADXL335_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="-0.003154 -0.149783 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/ADXL335_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="MPU_9250_1">
  <inertial>
    <origin xyz="-5.2641964672283e-05 0.04998372466373088 0.0010604641626403774" rpy="0 0 0"/>
    <mass value="0.0010620476629708976"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003154 0.155017 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/MPU_9250_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin xyz="-0.003154 0.155017 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/MPU_9250_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="QMC5883_1">
  <inertial>
    <origin xyz="0.00015378992721355603 0.024161721167240524 0.0011473923879169318" rpy="0 0 0"/>
    <mass value="0.0005645426363999118"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003154 0.155017 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/QMC5883_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="plastic_glossy_blue"/>
  </visual>
  <collision>
    <origin xyz="-0.003154 0.155017 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/QMC5883_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="right_drive" type="continuous">
  <origin xyz="-0.113229 -0.188571 0.035" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
</joint>

<joint name="left_drive" type="continuous">
  <origin xyz="-0.113264 0.183337 0.035" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="0.150554 0.144783 0.05468" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_castor_1"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="0.150554 -0.150017 0.05468" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_castor_1"/>
</joint>

<joint name="Rigid 5" type="fixed">
  <origin xyz="0.003154 -0.002617 0.11668" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ydlidar_x4_1"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.155554 -0.002617 0.05968" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="servo_mount_1"/>
</joint>

<joint name="camera_joint" type="continuous">
  <origin xyz="0.03815 0.0 0.02255" rpy="0 0 0"/>
  <parent link="servo_mount_1"/>
  <child link="camera_mount_1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="0.02 0.0 0.004" rpy="0 0 0"/>
  <parent link="camera_mount_1"/>
  <child link="camera_1"/>
</joint>

<joint name="Rigid 10" type="fixed">
  <origin xyz="0.003154 0.149783 0.05968" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="MPU_6050_1"/>
</joint>

<joint name="Rigid 11" type="fixed">
  <origin xyz="0.003154 0.149783 0.05968" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ADXL335_1"/>
</joint>

<joint name="Rigid 12" type="fixed">
  <origin xyz="0.003154 -0.155017 0.05968" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="MPU_9250_1"/>
</joint>

<joint name="Rigid 13" type="fixed">
  <origin xyz="0.003154 -0.155017 0.05968" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="QMC5883_1"/>
</joint>

</robot>
