<?xml version="1.0" ?>
<robot name="test_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_robot_description)/urdf/test_robot.trans" />
<xacro:include filename="$(find test_robot_description)/urdf/test_robot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.020632171778688 0.002500000000000126 0.07232033801694421" rpy="0 0 0"/>
    <mass value="1.7085553050360842"/>
    <inertia ixx="0.01599" iyy="0.013053" izz="0.025491" ixy="1e-06" iyz="0.0" ixz="-0.001461"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="-3.4200742424217445e-07 -0.0073158880868150755 -4.197731875474342e-06" rpy="0 0 0"/>
    <mass value="0.04524129578745742"/>
    <inertia ixx="2.1e-05" iyy="3.8e-05" izz="2.1e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.116382 0.183454 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque166158150"/>
  </visual>
  <collision>
    <origin xyz="0.116382 0.183454 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="3.4200744483681156e-07 0.007315888086814659 3.864337692033315e-06" rpy="0 0 0"/>
    <mass value="0.04524129578745742"/>
    <inertia ixx="2.1e-05" iyy="3.8e-05" izz="2.1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.116418 -0.188454 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque166158150"/>
  </visual>
  <collision>
    <origin xyz="0.116418 -0.188454 -0.035" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_castor_1">
  <inertial>
    <origin xyz="-0.015000000000078645 -0.01999999999999974 -0.025454061421393108" rpy="0 0 0"/>
    <mass value="0.04403091329657134"/>
    <inertia ixx="1.1e-05" iyy="1.1e-05" izz="2e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.1474 -0.1499 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.1474 -0.1499 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/left_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_castor_1">
  <inertial>
    <origin xyz="-0.015000000000078367 0.019999999999999976 -0.025454061421393216" rpy="0 0 0"/>
    <mass value="0.04403091329657134"/>
    <inertia ixx="1.1e-05" iyy="1.1e-05" izz="2e-06" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.1474 0.1449 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.1474 0.1449 -0.05468" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/right_castor_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ydlidar_x4_1">
  <inertial>
    <origin xyz="0.008294099570319522 -3.8163916471489756e-17 0.034201142222791026" rpy="0 0 0"/>
    <mass value="1.1515616542314233"/>
    <inertia ixx="0.000489" iyy="0.000861" izz="0.000987" ixy="-0.0" iyz="0.0" ixz="0.000148"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0025 -0.11668" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/ydlidar_x4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0025 -0.11668" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/ydlidar_x4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="servo_mount_1">
  <inertial>
    <origin xyz="0.022810444394987556 -1.5494500209788098e-09 -0.0026926680941401007" rpy="0 0 0"/>
    <mass value="0.28990445760104805"/>
    <inertia ixx="5.9e-05" iyy="0.00017" izz="0.000152" ixy="0.0" iyz="-0.0" ixz="6e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.1524 -0.0025 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/servo_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="acrylic_clear"/>
  </visual>
  <collision>
    <origin xyz="-0.1524 -0.0025 -0.05968" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/servo_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_mount_1">
  <inertial>
    <origin xyz="0.009999999999998233 2.0686577451023425e-16 0.0030000000000000304" rpy="0 0 0"/>
    <mass value="0.012966923677691866"/>
    <inertia ixx="5e-06" iyy="5e-06" izz="1e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.19055 -0.0025 -0.08223" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="paek_beige"/>
  </visual>
  <collision>
    <origin xyz="-0.19055 -0.0025 -0.08223" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_1">
  <inertial>
    <origin xyz="0.003870092447544521 3.342378457338313e-15 0.022445900256365642" rpy="0 0 0"/>
    <mass value="0.6054290756769216"/>
    <inertia ixx="0.000158" iyy="0.000199" izz="0.000199" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.21055 -0.0025 -0.08623" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.21055 -0.0025 -0.08623" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_robot_description/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="right_drive" type="continuous">
  <origin xyz="-0.116382 -0.183454 0.035" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
</joint>

<joint name="left_drive" type="continuous">
  <origin xyz="-0.116418 0.188454 0.035" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="0.1474 0.1499 0.05468" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_castor_1"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="0.1474 -0.1449 0.05468" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_castor_1"/>
</joint>

<joint name="Rigid 5" type="fixed">
  <origin xyz="0.0 0.0025 0.11668" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ydlidar_x4_1"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.1524 0.0025 0.05968" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="servo_mount_1"/>
</joint>

<joint name="camera_joint" type="continuous">
  <origin xyz="0.03815 0.0 0.02255" rpy="0 0 0"/>
  <parent link="servo_mount_1"/>
  <child link="camera_mount_1"/>
  <axis xyz="0.0 -0.0 1.0"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="0.02 0.0 0.004" rpy="0 0 0"/>
  <parent link="camera_mount_1"/>
  <child link="camera_1"/>
</joint>

</robot>
